{% extends '::base.html.twig' %}

{% block body -%}
    <form action="{{path('reservacion_buscar')}}" method="POST">
        <div class="divContenedor">
            <h1 class="titulo">Busqueda de Reservaciones</h1>
            <div class="divContenidoIzq">
                <label class="label">Código</label>
                <input type="text" name="txtCodigo" class="txt" value="{{codigo}}"/>
            </div>
            <div class="divContenidoDer">
                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL') or  is_granted('ROLE_GERENTE'))%}
                <label class="label">Cliente</label>
                <input type="text" name="txtCliente" class="txt" value="{{cliente}}"/>
                {%endif%}
            </div>
            <div class="divContenidoIzq">
            </div>
            <div class="divContenidoDer">
                <input type="submit" name="btnBuscar" class="btnTotal" style="margin-top: 10px;" value="Buscar"/>
            </div>

            <table class="records_list table">
                <thead>
                    <tr>

                        <th>Acción</th>
                        <th>Codigo</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Tipo Habitación</th>
                        <th>Fecha Ingreso</th>
                        <th>Fecha Salida</th>


                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('reservacion_show', { 'id': entity.id }) }}">Consultar</a>
                                    </li>

                                </ul>
                            </td>
                            <td>{{ entity.codigo }}</td>
                            <td>{{ entity.huesped.cedula }}</td>
                            <td>{{ entity.huesped.nombre }}</td>
                            <td>{{ entity.habitacion.tipo }}</td>
                            <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if entity.fechaSalida %}{{ entity.fechaSalida|date('d-m-Y') }}{% endif %}</td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </form>
{% endblock %}